body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: large;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  font-size: large;
}
button:hover {
  background-color: #218838;
}

#filterButton {
  background-color: rgb(255, 200, 97);
}

#filterButton:hover {
  background-color: orange;
}

#deleteButton {
  background-color: rgb(255, 97, 97);
}

#deleteButton:hover {
  background-color: red;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: large;
  border-bottom: 1px solid #eee;
}

li.completed span {
  text-decoration: line-through;
  color: #6c757d;
}

h1 {
  text-align: center;
}